# IntelliJ IDEA
.idea/
*.iml

# Maven
target/

# Terraform
infrastructure/.terraform/
*.tfstate
*.tfstate.*
tfplan
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# macOS
.DS_Store

# Logs
logs/
*.log